@import 'reset.import.css';
@import 'framework.import.css';


.board{background-color: #fff;padding: 18px;text-align: center;color: #000;}
.board .avatar-l{margin:50px auto 27px auto;}
.board .icon-close{position: absolute;left: 20px;top: 20px; }	
.board .icon-add{position: absolute;right: 20px;top: 20px; }	
.board .username{font-size: 30px;line-height: 35px;height: 35px;}
.board .detail{font-size: 14px;position: relative;line-height: 40px;height: 40px;color: #A4A4A4;}
.board .detail:after{content: ""; height: 2px;width: 30px;background-color: #000;position: absolute;left: 50%;margin-left: -15px;bottom: 0;}

.board .info{
	margin:30px 0 10px 0;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;    -ms-flex-align: center;    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.board .info .info-item{
	display: block;-webkit-box-flex: 1;box-flex: 1;-ms-flex: 1;-webkit-flex: 1;flex: 1;position: relative;
}
.board .info .info-item:after{content: "//";position: absolute;right: 0;top: 8px;opacity: 0.4;}
.board .info .info-item:last-child:after{content: "";}
.board .info .info-item .works-num{font-size: 23px;}
.board .info .info-item .info-title{font-size: 13px;opacity: 0.4;}

/*各种布局*/
.work-container{}
.work-container ul{margin: 0;padding: 0;font-size: 0;}
.work-container ul:after{content: "";clear: both;}
/*1+基础样式*/
.work-container ul li{position: relative;width: 100%;}
.work-container ul li b.work-img{width: 100%;padding-top: 73.3333%;background-size: cover;position: relative;display: inline-block;-webkit-box-sizing:border-box;box-sizing: border-box;border-bottom: 1px solid #fff;}
/*2,4*/
.work-container ul li {display: inline-block;-webkit-box-sizing:border-box;box-sizing: border-box;}
.work-container ul.num-2n li{width: 50%;}
.work-container ul.num-2n li:nth-child(2n) b{border-left: 1px solid #fff;}
/*3*/
.work-container ul.num-3 li {width: 33.3%;border-left: 1px solid #fff;}
.work-container ul.num-3 li:nth-child(2){width: 66.6%;float: left;border-left: 0;}
/*3s*/
.work-container ul.num-3s li {width: 33.3%;border-right: 1px solid #fff;}
.work-container ul.num-3s li:nth-child(2){width: 66.6%;float: right;border-right: 0;}
/*5*/
.work-container ul.num-5 li {width: 33.3%;}
.work-container ul.num-5 li:nth-child(3n) {width: 33.3%;}
.work-container ul.num-5 li:nth-child(3n+1) {width: 50%;}
.work-container ul.num-5 li:last-child {width: 50%;}
.work-container ul.num-5 li:last-child b{border-right: 0;}
.work-container ul.num-5 li:first-child {width: 33.3%;}
.work-container ul.num-5 li b{border-right: 1px solid #fff;}
.work-container ul.num-5 li:nth-child(3n) b{border-right: 0;}
/*6*/
.work-container ul.num-6 li {width: 33.3%;}
.work-container ul.num-6 li:nth-child(3){float: right;}
.work-container ul.num-6 li:nth-child(4){width: 66.6%;float: right;}
.work-container ul.num-6 li:nth-child(2) b{border-left: 1px solid #fff;}
.work-container ul.num-6 li:nth-child(3) b{border-left: 1px solid #fff;}
.work-container ul.num-6 li:nth-child(4) b{border-left: 1px solid #fff;padding-top: 74%;}
/*6s*/
.work-container ul.num-6s li {width: 33.3%;}
.work-container ul.num-6s li:nth-child(3){float: right;}
.work-container ul.num-6s li:nth-child(4){width: 66.6%;float: left;}
.work-container ul.num-6s li:nth-child(2) b{border-left: 1px solid #fff;}
.work-container ul.num-6s li:nth-child(3) b{border-left: 1px solid #fff;}
.work-container ul.num-6s li:nth-child(4) b{border-left: 1px solid #fff;padding-top: 74%;}