
@import 'reset.import.css';
@import 'framework.import.css';
@import 'animation.import.css';


/*导航*/
.navigator {position: relative;width: 100%;}
.navigator nav {color: #fff;font-size: 20px;position: fixed;width: 100%;top: 0;left: 0;height:58px;background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, 0.6)), to(rgba(0,0,0, 0)));z-index: 100;}

.navigator nav ul.nav{padding: 14px 18px 10px 60px;}
.navigator nav ul.nav li:after{content: "";height: 2px;background-color: #fff;width: 20px;position: absolute;left: 9px;bottom: -6px;}
.navigator nav ul.nav li{display: inline-block;width: 40px;position: relative;margin: 0 13px;height: 20px;line-height: 20px;}
.navigator nav .icon-nav{position: absolute;top:18px;left: 20px;}


.navigator  .sidebar-con{position: fixed;height: 100%;width: 100%;left: 0;top: 0;z-index: 110;}
.navigator  .sidebar{background-color: #171515;padding:58px 25px; color: #fff;position: absolute;width: 65%;top: 0;left: 0;height: 100%;/*transform: translateX(-100%);*/}
.navigator  .sidebar p.username{height: 50px;line-height: 50px; font-size: 20px;opacity: 0.8; position: relative;width: 100%;position: relative;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.navigator  .sidebar p.username:after{content: ""; position: absolute;width: 30px;height: 3px;background-color: #716F6F;left: 0;bottom: 0;}
.navigator  .sidebar ul.side-nav{font-size: 24px;margin-top: 20px;}
.navigator  .sidebar ul.side-nav .item-nav{height:55px;line-height: 55px;}
.navigator  .sidebar ul.side-nav .red-point{position: relative;}
.navigator  .sidebar ul.side-nav .red-point:after{content:''; position: absolute;width: 8px;height: 8px;background-color: #f00;border-radius: 100%;right: 56%;top: 10px;}
